:root {
  --color-primary: #24232C;
  --color-secondary: #e6e5ea;
  --color-accent: #a4ffaf;
}

/* Layout */

html, body {
  background-color: #18171f;
  font-family: 'JetBrains Mono', monospace;
  font-size: 62.5%;
}

.app-container {
  min-height: 100vh;
  width: 540px;
  margin: auto;
}

.params-container {
  width: 100%;
}

.title {
  color: #817D92;
  font-size: 2.4rem;
}

/* Password Field */

.password-container {
  background-color: var(--color-primary);
  height: 56px;
}

.password {
  color: var(--color-secondary);
  font-size: 3.2rem;
}

.password-img {
  max-width: 2.1rem;
  max-height: 2.4rem;
  cursor: pointer;
  fill: var(--color-accent);
  transition: fill 0.15s ease-in;
}

.password-img:hover {
  fill: var(--color-secondary);
}

.password-copy {
  color: var(--color-accent);
  font-size: 1.8rem;
}

@media screen and (max-width: 425px) {
  .app-container {
    margin: auto 1.6rem;
  }
  
  .password {
    font-size: 2.4rem;
  }

  .password-copy {
    font-size: 1.5rem;
  }
}

/* Button */

.btn-password-generator {
  background-color: var(--color-accent);
  color: #24232C;
  margin:3.2rem;
  width: 476px;
  height: 65px;
  font-size: 1.8rem;
  transition: all 0.15s ease-in;
  border: none;
}

.btn-password-generator:hover {
  background-color: transparent;
  border-color: var(--color-accent);
  color: var(--color-accent);
}

.btn-password-generator-icon {
  width: 11px;
  height: 16px;
  margin-top: 0.2rem;
  fill: #24232C;
  transition: transform 0.2s ease-in;
}

.btn-password-generator:hover .btn-password-generator-icon {
  transform: translateX(0.5rem);
  fill: var(--color-accent);
}

@media screen and (max-width: 425px) {
  .btn-password-generator {
    height: 56px;
    font-size: 1.6rem;
    width: 311px;
    margin: 1.6rem;
  }

  .btn-password-generator-icon {
    margin-bottom: 0.2rem;
  }
}

/* Password Parameters */

.params-container {
  background-color: var(--color-primary);
}

.parameter {
  color: var(--color-secondary);
  font-size: 1.6rem;
}

.parameter-checkbox[type='checkbox'] {  
  appearance: none;
  border: 1px solid;
  border-color: var(--color-secondary);
  width: 2rem;
  height: 2rem;
}

.parameter-checkbox[type='checkbox']:checked {
  background-color: var(--color-accent);
  background-image: url("./assets/images/icon-check.svg");
  background-repeat: no-repeat;
  background-position: center;
  outline: none;
}

.parameter-label {
  line-height: 3.5rem;
}

@media screen and (min-width: 425px) {
  .params {
    font-size: 1.8rem;
  } 
}

/* Characters Length */

.letter-length-container {
  margin: 2rem
}

.range-container {
  width: 100%;
}

.range-bar {
  width: 100%;
  appearance: none;
  height: 8px;
  background: transparent;
}

.range-bar::-webkit-slider-thumb {
  appearance: none;
  height: 20px;
  width: 20px;
  margin-top: -0.5rem;
  border-radius: 50%;
  background: var(--color-secondary);
  cursor: pointer;
  transition: 0.3s ease;
}

.range-bar::-webkit-slider-thumb:hover {
  background: #18171F;
  border: 1px solid #a4ffaf;
}

.range-bar::-moz-range-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: var(--color-secondary);
  cursor: pointer;
}

.range-bar::-webkit-slider-runnable-track {
  height: 8px;
  background: linear-gradient(to right, #a4ffaf var(--slider-percentage), #18171F 0);
}


.range-value {
  font-size: 3.2rem;
  color: var(--color-accent);
}

.letter-length-title {
  color: var(--color-secondary);
  font-size: 1.8rem;
}

@media screen and (max-width: 425px) {
  .range-value {
    font-size: 2.4rem;
  }

  .letter-length-title {
    font-size: 1.6rem;
  }
}

/* Password Strength */

.strength-container {
  margin: 3rem 2rem;
}

.strength-title {
  color: #817D92;
  font-size: 1.8rem;
}

.strength-level {
  color: var(--color-secondary);
  font-size: 2.4rem;
  margin-right: 1rem;
}

.strength-meter {
  width: 10px;
  height: 28px;
  border: 1px solid;
  border-color: var(--color-secondary);
  margin: 0.3rem;
}

@media screen and (max-width: 425px) {
  .strength-title{
    font-size: 1.6rem;
  }

  .strength-level {
    font-size: 1.8rem;
  }
}