:root {
  --color-primary: #817D82;
  --color-secondary: #e6e5ea;
  --color-accent: #a4ffaf;
}

html, body {
  background-color: #18171f;
  font-family: 'JetBrains Mono', monospace;
  font-size: 62.5%;
}

.app-container {
  max-width: 540px;
  margin: auto;
}

.title {
  color: var(--color-primary);
  font-size: 2.4rem;
}

.password-container {
  background-color: var(--color-primary);
  height: 56px;
}

.password {
  color: var(--color-secondary);
  font-size: 3.2rem;
}

.password-img {
  max-width: 2.1rem;
  max-height: 2.4rem;
  cursor: pointer;
}

.password-img:hover {
  color: var(--color-secondary);
}

.password-copy {
  color: var(--color-accent);
  font-size: 1.8rem;
}

@media screen and (max-width: 425px) {
  .app-container {
    margin: auto 1.6rem;
  }
  
  .password {
    font-size: 2.4rem;
  }

  .password-img {
    max-width: 1.75rem;
    max-height: 2rem;
  }

  .password-copy {
    font-size: 1.5rem;
  }
}

.btn-password-generator {
  background-color: var(--color-accent);
  color: #24232C;
  height: 65px;
  font-size: 1.8rem;
  transition: all 0.15s ease-in;
}

.btn-password-generator:hover {
  background-color: transparent;
  border-color: var(--color-accent);
  color: var(--color-accent);
}

.btn-password-generator-icon {
  width: 11px;
  height: 16px;
  margin-top: 0.2rem;
  fill: #24232C;
  transition: transform 0.2s ease-in;
}

.btn-password-generator:hover .btn-password-generator-icon {
  transform: translateX(0.5rem);
  fill: var(--color-accent);
}

@media screen and (max-width: 425px) {
  .btn-password-generator {
    height: 56px;
    font-size: 1.6rem;
  }
}